CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
vtkh/build/*
vtkm/build/*
scripts/gs_data/compressed*
scripts/gs_data/decompressed*
scripts/gs_data/nocompressed*
scripts/gs_data/profile_nocompressed*
scripts/gs_data/gs*
scripts/gs_data/*.xml
scripts/gs_data/*.log
scripts/surface_area_results/visitlog.py
#scripts/surface_area_results/*
#scripts/volume_results/*
#scripts/performance_results/*
scripts/compressor_profiler/build/*
*.output
scripts/performance_results/*.png

!scripts/gs_data/*.csv

